/* Global Styles */
* {
  box-sizing: border-box;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/* Heading Styles */
h1 {
  font-weight: bolder;
  text-align: center;
  margin-bottom: 20px;
}

/* Button Styles */
button {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: darkgray;
}
